@{
    ViewData["Title"] = "Cadastro";
}
<h1>Cadastro Médico</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Nome" class="control-label">Nome</label>
                <input id="Nome" name="Nome" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">E-mail</label>
                <input id="Email" name="Email" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label form ="Senha" class="control-label">Senha</label>
                <input id="Senha" name="Senha" class="form-control" type="password"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Telefone" class="control-label">Telefone</label>
                <input id="Telefone" name="Telefone" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <input id="AutorizacaoId" name="AutorizacaoId" value="2" type="hidden"/>
            <div class="form-group">
                <label for="CRM" class="control-label">CRM</label>
                <input id="CRM" name="CRM" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>